head.header блок header
    nav.navigation меню
        ul
            li
                a(href="https://i.pinimg.com/736x/10/a5/5f/10a55fa7d2e6a3667d74029d68d443cf.jpg" class="img") 
            li
                a(href="https://i.pinimg.com/736x/10/a5/5f/10a55fa7d2e6a3667d74029d68d443cf.jpg" class="img")
            li 
                a(href="https://i.pinimg.com/736x/10/a5/5f/10a55fa7d2e6a3667d74029d68d443cf.jpg" class="img")
            li 
                a(href="https://i.pinimg.com/736x/10/a5/5f/10a55fa7d2e6a3667d74029d68d443cf.jpg" class="img")
            li 
                a(href="https://i.pinimg.com/736x/10/a5/5f/10a55fa7d2e6a3667d74029d68d443cf.jpg" class="img")
